<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>

    <h2>Simple Calculator</h2>

    <form id="calculatorForm">
        <label for="operand1">Operand 1:</label>
        <input type="number" id="operand1" name="operand1" required>

        <label for="operand2">Operand 2:</label>
        <input type="number" id="operand2" name="operand2" required>

        <button type="button" onclick="calculate()">Calculate</button>
    </form>

    <p id="result"></p>

    <script>
        function calculate() {
            // Get values from the input fields
            var num1 = document.getElementById('operand1').value;
            var num2 = document.getElementById('operand2').value;
            // Make the API request
            var apiUrl = 'https://1kzlnygkfc.execute-api.eu-north-1.amazonaws.com/Demo/Lambda_function';
            var apiEndpoint = apiUrl + '?operand1=' + num1 + '&operand2=' + num2;
            const currentOrigin = window.location.origin;

            fetch(apiEndpoint, {
                headers: {
      'Content-Type': 'application/json',
        'Origin': currentOrigin,
      // Add any additional headers if needed
    }
            })
                .then(response => response.json())
                .then(data => {
                    // Display the result
                    document.getElementById('result').innerHTML = 'Result: ' + data.result;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

</body>
</html>